<!-- Use this component to create banners that have a call-to-action. -->

<template>
    <div class="banner">
        
        <!-- Banner layout -->
        <section class="uk-section uk-padding uk-section-large uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center"
            :style="{'background-image': 'url(' + bannerBackground + ')'}">

            <h2>{{bannerTitle}}</h2>
            <h3>{{bannerCTA}}</h3>
            <router-link class="uk-margin-top uk-padding-small" :to="bannerLink">{{bannerLinkText}}</router-link>

        </section>

    </div>    
</template>

<script>
export default {
    name: 'Banner',
    props: {
        bannerBackground: String,
        bannerTitle: String,
        bannerCTA: String,
        bannerLink: String,
        bannerLinkText: String
    }
}
</script>

<style lang="less" scoped>

/**************************
General style of the banner 
**************************/
.uk-section {
    background-size: cover;
    background-position: center;
}

.uk-section h2, h3{
    color: @text-color;
    font-family: 'Noto Sans', sans-serif;
}

.uk-section h2 {
    font-size: calc(2.5em + 200 * ((100vw - 320px) / (3840 - 320)));
    font-weight: 900;
    text-shadow: 0.02em 0.02em 0.01em @brand-color-sister;
}

.uk-section h3 {
    font-size: calc(1.5em + 100 * ((100vw - 320px) / (3840 - 320)));
    font-weight: 700;
}

.uk-section a {
    color: white;
    border-radius: .2em;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(1em + 25 * ((100vw - 320px) / (3840 - 320)));
    font-weight: 700;
    text-decoration: none;
    background-color: @brand-color-var;
    transition: background-color 0.5s ease-in-out;
}

.uk-section a:hover {
    background-color: @brand-color;
}

</style>