<!-- Use this component to create cards on the whole landing site -->
<!-- The <slot> component is used to extend upon the basic card layout. See FeatureCard.vue -->

<template>
    <div class="card">
        
        <!-- Defining the actual card layout -->
        <div class="uk-card uk-card-default">

            <!-- Defining the top image component of the card -->
            <div class="uk-card-media-top uk-flex uk-flex-center uk-flex-middle" :style="{'background-image': 'url(' + backgroundSource + ')'}">
                <img :src="imageSource" :alt="imageDescription">
            </div>

            <div class="uk-card-body uk-text-center">
                <h4>{{cardTitle}}</h4>
                <p>{{cardContent}}</p>

                <slot></slot>
            </div>

        </div>

    </div>
</template>

<script>
export default {
    name: 'Card',
    props: {
        backgroundSource: String, 
        imageSource: String, 
        imageDescription: String, 
        cardTitle: String, 
        cardContent: String
    }
}
</script>

<style lang="less" scoped>

/**********************************
General style of the card component 
**********************************/
.uk-card {
    border-radius: .5em;
    height: 100%;
}

.uk-card-media-top {
    background-size: cover;
    background-position: center;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.uk-card-media-top img {
    /** Reducing the size of the image */
    width: 32em;
}

.uk-card-body h4 {
    color: @text-color;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(1.5em + .3vw);
}

.uk-card-body p {
    color: @text-color;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(1em + .25vw);
}

</style>