<!-- This component extends upon the Card concept -->
<!-- It has a button that can open modals to reveal more informatio -->

<template>
    <div class="feature-card-component">

        <Card 
            :backgroundSource="backgroundSource"
            :imageSource="imageSource"
            :imageDescription="imageDescription"
            :cardTitle="cardTitle"
            :cardContent="cardContent">

            <slot></slot>

        </Card>

    </div>
</template>

<script>
import Card from './Card'

export default {
    name: 'FeatureCard',
    components: {
        Card
    },
    props: {
        backgroundSource: String,
        imageSource: String,
        imageDescription: String,
        cardTitle: String,
        cardContent: String
    }
}
</script>

<style lang="less" scoped>

</style>