<!-- Use this component to create modals on the fly -->
<!-- The Modal component requires a unique id in order to work -->
<!-- You need to define html content in the <Modal> tag in order for it to display -->
<!-- Use the appropriate slot names along with the v-slot syntax to populate different parts of the modal -->

<template>
    <div class="modal-component">

        <div :id="'modal' + modalKey" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog" uk-overflow-auto>
                <button class="uk-modal-close-default uk-margin-auto-vertical" type="button" uk-close></button>

                <div class="uk-modal-header uk-text-center uk-flex uk-flex-middle uk-flex-center">
                    <slot name="modalHeader"></slot>
                </div>

                <div class="uk-modal-body uk-flex uk-flex-column uk-flex-center">
                    <slot name="modalBody"></slot>
                </div>

            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'Modal',
    props: {
        modalKey: String,
    }
}
</script>

<style lang="less" scoped>

.uk-modal-header {
    background-size: cover;
    height: 25vh;
}

.uk-modal-header h3 {
    color: @text-color;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(2em + 50 * ((100vw - 320px) / (3840 - 320)));
    font-weight: 900;
    text-shadow: 0.02em 0.02em 0.01em @brand-color-sister;
}

.uk-modal-body h4{
    color: @text-color;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(1.2em + 50 * ((100vw - 320px) / (3840 - 320)));
}

.uk-modal-body p {
    color: @text-color;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(1em + 15 * ((100vw - 320px) / (3840 - 320)));
}

.uk-modal-body img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

</style>