@brand-color: #a41f76; /* This color is used as main color on white backgrounds*/
@brand-color-sister: #f3665b; /* This color is used on white backgrounds to create gradient effects with the brand color */
@brand-color-match: #00aa96;
@link-color: #008bcf;
@brand-color-dark: #f9f871; /* This is the main color on dark backgrounds */
@brand-color-sister-dark: #ff9650; /* For gradient effects on darker backgrounds */
@text-color: #262229;
@text-color-dark: #fff3ff; /* Modified White */

@brand-color-shade1: #ed69b7;
@brand-color-shade2: #b83688;

/* Variations */
@brand-color-var: #D33B69;
@brand-color-dark-var: #FFC754;
