<template>
    <div id="features-view">
        
        <!-- Plugging the features billboard -->
        <FeaturesBillboard 
            billboardTitle="Discover Instrumentality" 
            billboardContent="Take a peek at the features that make us stand out" 
        />

        <!-- Plugging the section with feature cards -->
        <FeatureCardsSection />

    </div>
</template>

<script>
import FeaturesBillboard from '@/components/FeaturesBillboard';
import FeatureCardsSection from '@/components/FeatureCardsSection'

export default {
    name: 'Features',
    components: {
        FeaturesBillboard,
        FeatureCardsSection
    }
}
</script>

<style lang="less" scoped>

</style>