<template>
  <div id="home-view">
    
    <!-- Injecting Billboard component -->
    <Billboard 
      billboardTitle="Instrumentality"
      billboardContent="Solving tasks today for a brighter tomorrow"/>

    <!-- Plugging the introductory cards -->
    <IntroCards />

    <!-- Plugging the banner about blockchain -->
    <Banner
      :bannerBackground="background"
      bannerTitle="See how we use blockchain"
      bannerCTA="Build your reputation as a developer!"
      bannerLink="/features"
      bannerLinkText="Read more about it">

    </Banner>

  </div>
</template>

<script>
import Billboard from '@/components/Billboard';
import IntroCards from '@/components/IntroCardsSection';
import Banner from '@/components/reusables/Banner';

export default {
  name: 'Home',
  components: {
    Billboard,
    IntroCards,
    Banner
  },
  data: function() {
    return {
      /** Requiring the background for the banner */
      background: require('@/assets/Backgrounds/background4.svg')
    }
  }
}
</script>