<template>
    <div id="feature-cards-section-component">

        <section class="uk-section uk-padding uk-child-width-expand@l uk-grid-match" uk-grid>

            <!-- First feature card -->
            <FeatureCard 
                :backgroundSource="card1.backgroundSource"
                :imageSource="card1.imageSource"
                imageDescription="Woman presenting her developer profile on phone"
                cardTitle="The proof of your work, on the blockchain"
                cardContent="As you work and keep improving your skills, Instrumentality takes notes and creates a profile of you
                as a developer. Using blockchain technology makes it easy for you to proove your skills and for the employer to trust
                your claims.">

                <button class="uk-button uk-button-large" uk-toggle="target: #modal1">
                    Read more
                </button>

            </FeatureCard>

            <!-- Second feature card -->
            <FeatureCard 
                :backgroundSource="card2.backgroundSource"
                :imageSource="card2.imageSource"
                imageDescription="Man completing tasks"
                cardTitle="Spend less time deciding how to spend time"
                cardContent="We don't include every productivity feature on the market and we do so on purpose. We feel like productivity is more about
                doing and less about planing. We offer what's essential to get everyone on the same page and to provide some insight to team leaders and
                managers, but we try to be as minimalists as possible. Instrumentality is about getting things done, not planning.">

                <button class="uk-button uk-button-large" uk-toggle="target: #modal2">
                    Read more
                </button>

            </FeatureCard>

            <!-- Third feature card -->
            <FeatureCard 
                :backgroundSource="card3.backgroundSource"
                :imageSource="card3.imageSource"
                imageDescription="Open and secure server"
                cardTitle="Join our open and secure world"
                cardContent="Due to the nature of our application we want to be as transparent as possible. Everything we build, down to this website, is licensed
                under the GPL-3.0 so you can audit, modify and redistribute our work in any way you see fit. We believe that having a community is better than
                just having users.">

                <button class="uk-button uk-button-large" uk-toggle="target: #modal3">
                    Read more
                </button>

            </FeatureCard>

        </section>

        <!-- Setting the modal key to 1 will create a modal with the id 'modal1' -->
        <!-- First modal -->
        <Modal modalKey="1">

            <template v-slot:modalHeader>
                <h3>Your resumé on blockchain</h3>
            </template>

            <template v-slot:modalBody>
                <img v-lazy="card1.modal.images[0]" alt="Woman hiring based on blockchain profile">
                <h4 class="uk-text-center">Why use blockchain?</h4>
                <p>
                    Blockchain has many advantages esspecially when it comes to decentralisation, but the best part is that past records cannot be modified.
                    This means that your profile is always accurate providing employers with a trustworthy way to asses your skillset. The goal of doing this
                    is to make the recruitment process faster, and provide a more detailed overview of someone's skill than a simple test can do.
                </p>

                <img v-lazy="card1.modal.images[1]" alt="Man building blockchain brick by brick">
                <h4 class="uk-text-center">The data is public only when it needs to be</h4>
                <p>
                    Unlinke other popular blockchain technologies like Ethereum, which are public and lack permissions, our solution is built with the modern
                    corporate environment in mind. We understand the need of companies to keep their protected especially when under development.
                    That's why we have both a public network and private subnetworks. 
                </p>
                <p>
                    The main network serves the purpose of hiring, your data is open for everyone to see if you specify you are available for hire.
                    Each company runs a subnetwork that is used to shape your developer profile. Here, you would use Instrumentality like you use any other tool
                    of issue tracking and task management. During the time you work for a company, your profile becomes visible only to the people inside the company.
                    To the public network, you profile will appear to not change at all, until the time you decide to change your job and make yourself available for hire.
                    Then, your profile will sync back with the main network, letting new employers evaluate your skills.
                </p>
            </template>
        </Modal>

        <!-- Second modal  -->
            <Modal modalKey="2">

                <template v-slot:modalHeader>
                    <h3>Action speaks louder than words</h3>
                </template>

                <template v-slot:modalBody>
                    <img v-lazy="card2.modal.images[0]" alt="Analyzing the progress of a project">
                    <h4 class="uk-text-center">Insight data, easily available</h4>
                    <p>
                        Even though we focus on providing a minimalist set of tools for productivity, we haven't forgotten about the project leaders that need data on
                        the development cycles to be readily available. We implemented features to for you to easily have access to progress charts, detailed overviews
                        and many more statistical data that's updated in real-time as your team develops the solution.
                    </p>
                    <img v-lazy="card2.modal.images[1]" alt="Developer thinking">
                    <h4 class="uk-text-center">Oragnization made fun</h4>
                    <p>
                        We know how frustrating it is for developers to have to constantly break their workflows to log tasks and issues, track the time spent and organize
                        everything. Most popular tools are big, too complicated and require you to learn them.
                    </p>
                    <p>
                        Instrumentality takes a different approach. We think that the least amount you spend organizing the better. We made a simple, intuitive interface
                        to help you and your teammates visualise the tasks at hand and cut down on any unnecessary feature.
                    </p>
                </template>

            </Modal>

            <!-- Third modal  -->
            <Modal modalKey="3">

                <template v-slot:modalHeader>
                    <h3>Security out in the open</h3>
                </template>

                <template v-slot:modalBody>
                    <img v-lazy="card3.modal.images[0]" alt="Analyzing the progress of a project">
                    <h4 class="uk-text-center">Creating solutions you can trust</h4>
                    <p>
                        We don't hide our code. You can always verify that it does what it says it does and you don't need to put your trust in the hands of 
                        yet another company. We also believe that hiding our code for the sake of security is a model that's long been confirmed to not only fail,
                        but actually be bad, so we rely on cryptographically strong algorithms that are standardized and security researchers around the globe
                        are always testing for vulnerabilities.
                    </p>
                    <p>
                        The second reason why we prefer the free software way instead of going proprietary is that we care about making a positive impact
                        in the community of developers. We give the power back to the community to create new and amazing things based on our work, just like we
                        were able to take advantage of the work that was done before, by other awesome developers.
                    </p>
                </template>

            </Modal>

    </div>
</template>

<script>
import FeatureCard from '@/components/reusables/FeatureCard'
import Modal from '@/components/reusables/Modal'

export default {
    name: 'FeatureCardsSection',
    components: {
        FeatureCard,
        Modal
    },
    data: function() {
        return {
            card1: {
                backgroundSource: require('@/assets/Backgrounds/background10.svg'),
                imageSource: require('@/assets/Illustrations/profile.svg'),
                modal: {
                    headerBackground: require('@/assets/Backgrounds/background5.svg'),
                    images: [
                        require('../assets/Illustrations/hire.svg'),
                        require('../assets/Illustrations/blockchain.svg')
                    ]
                }
            },

            card2: {
                backgroundSource: require('@/assets/Backgrounds/background12.svg'),
                imageSource: require('@/assets/Illustrations/project.svg'),
                modal: {
                    headerBackground: require('@/assets/Backgrounds/background5.svg'),
                    images: [
                        require('../assets/Illustrations/leader.svg'),
                        require('../assets/Illustrations/helping.svg')
                    ]
                }
            },

            card3: {
                backgroundSource: require('@/assets/Backgrounds/background8.svg'),
                imageSource: require('@/assets/Illustrations/instance.svg'),
                modal: {
                    headerBackground: require('@/assets/Backgrounds/background5.svg'),
                    images: [
                        require('../assets/Illustrations/universe.svg'),
                    ]
                }
            }
        }
    }
}
</script>

<style lang="less" scoped>

button {
    border-radius: .5em;
    background-color: @brand-color-var;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(1em + 5 * ((100vw - 320px) / (3840 - 320)));
    font-weight: 700;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: @brand-color-shade2;
}
</style>