<!-- This component is a full-page section with a title and subtitle -->
<template>
    <div id="features-billboard-component">
        <section class="uk-section">
            <div class="uk-container uk-container-expand uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-text-center">
                <h1>{{billboardTitle}}</h1>
                <h2>{{billboardContent}}</h2>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: 'Billboard',
    props: {
        billboardTitle: String,
        billboardContent: String
    }
}
</script>

<style lang="less" scoped>

/*********************************************
    Styling for mobile devices and general styling 
    *********************************************/
.uk-container {
    height: 80vh;
}

.uk-container h1 h2 {
    color: @text-color;
}

.uk-container h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(2.5em + 180 * ((100vw - 320px) / (3840 - 320)));
    font-weight: 900;
    text-shadow: 0.02em 0.02em 0.01em @brand-color;
}

.uk-container h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(1.2em + 100 * ((100vw - 320px) / (3840 - 320)));
    font-weight: 700;
}
</style>