<template>
    <div id="footer-component">

        <footer class="uk-padding uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-top uk-text-center">
            
            <h3>This project is made possible by</h3>

            <!-- This is the credits section of the footer -->
            <section class="uk-section uk-child-width-expand@l">

                <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle">
                    <ul class="uk-list">
                        <li>
                            <font-awesome-icon :icon="['fab', 'vuejs']" size="lg" class="uk-margin-right uk-visible@m"></font-awesome-icon>
                            The <a href="https://vuejs.org/">Vue.js</a> front-end framework
                        </li>
                        <li>
                            <font-awesome-icon :icon="['fab', 'uikit']" size="lg" class="uk-margin-right uk-visible@m"></font-awesome-icon>
                            The <a href="https://getuikit.com/">UIkit</a> CSS framework
                        </li>
                        <li>
                            <font-awesome-icon :icon="['fab', 'less']" size="lg" class="uk-margin-right uk-visible@m"></font-awesome-icon>
                            The <a href="http://lesscss.org/">Less</a> CSS pre-processor
                        </li>
                        <li>
                            <font-awesome-icon :icon="['fab', 'font-awesome-flag']" size="lg" class="uk-margin-right uk-visible@m"></font-awesome-icon>
                            The <a href="https://fontawesome.com/">FontAwesome</a> icon collection
                        </li>
                        <li>
                            Colors provided by <a href="https://mycolor.space/">ColorSpace</a>
                        </li>
                        <li>
                            Gorgeous illustrations from <a href="https://undraw.co/">Undraw</a>
                        </li>
                    </ul>
                </div>

            </section>

        </footer>

    </div>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style lang="less" scoped>

    h3, ul li {
        color: @text-color;
        font-family: 'Noto Sans', sans-serif;
    }

    h3 {
        font-size: calc(1.5em + 10 * ((100vw - 320px) / (3840 - 320)));
    }

    ul li {
        font-size: calc(1.2em + 5 * ((100vw - 320px) / (3840 - 320)));
    }

    ul li a {
        color: @link-color;
    }

</style>