<template>
    <div id="intro-cards-component">
        
        <section class="uk-section uk-padding uk-child-width-expand@l uk-grid-match" uk-grid>
            
            <!-- Initialising first card -->
            <Card 
                :backgroundSource="card1.backgroundSource"
                :imageSource="card1.imageSource"
                imageDescription="Man completing tasks on laptop"
                cardTitle="Productivity Powerhouse"
                cardContent="Manage all your tasks with ease and organize your work. 
                Declutter your brain and explore how we can help you be more productive.">

            </Card>

             <!-- Initialising second card -->
            <Card 
                :backgroundSource="card2.backgroundSource"
                :imageSource="card2.imageSource"
                imageDescription="People colaborating on developing software"
                cardTitle="Instrumentality is Free Software"
                cardContent="We respect our users and are transparent about what our product does. 
                You can even setup your own Instrumentality instance for you and your friends so you can work easier togeter.">

            </Card>

             <!-- Initialising third card -->
            <Card 
                :backgroundSource="card3.backgroundSource"
                :imageSource="card3.imageSource"
                imageDescription="Developer being in focus"
                cardTitle="Developer Centric"
                cardContent="While our product has multiple use cases, we focus on the needs of developers. 
                We believe that it's better to do one thing and do it right.">

            </Card>

        </section>

    </div>    
</template>

<script>
import Card from '@/components/reusables/Card';

export default {
    name: 'IntroCards',
    components: {
        Card
    },
    data: function() {
        return {
            card1: {
                backgroundSource: require("@/assets/Backgrounds/background1.svg"),
                imageSource: require("@/assets/Illustrations/tasks.svg")
            },

            card2: {
                backgroundSource: require("@/assets/Backgrounds/background2.svg"),
                imageSource: require("@/assets/Illustrations/open-source.svg")
            },

            card3: {
                backgroundSource: require("@/assets/Backgrounds/background3.svg"),
                imageSource: require("@/assets/Illustrations/dev-focus.svg")
            }
        }
    }
}
</script>

<style lang="less" scoped>

</style>