<!-- Declaring the navbar component -->
<template>
  <div id="navbar-component">
    <!-- Declaring a sticky container so the navbar stays on top as the user scrolls -->
    <div
      uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"
    >
      <!-- Declaring the navbar container that will contain the logo and the actual links -->
      <nav class="uk-navbar-container" uk-navbar>
        <!-- Left side of the navbar contains the logo and name of the project. Always visible on all screen sizes. -->
        <div class="uk-navbar-left">
          <router-link to="/" class="uk-navbar-item uk-logo">
            <img
              src="@/assets/Instrumentality-Logo.svg"
              alt="Instrumentality logo"
              width="42px"
              height="42px"
            />
            <span class="uk-margin-small-left">Instrumentality</span>
          </router-link>
        </div>

        <!-- The center of the navbar contains the main links. Visible only on larger devices. -->
        <div class="uk-navbar-center uk-visible@m">
          <ul class="uk-navbar-nav">
            <li><router-link to="/features" active-class="active">Features</router-link></li>
            <li><a href="">For developers</a></li>
          </ul>
        </div>

        <!-- The right side of the navbar will host the login and signup links on larger devices. -->
        <div class="uk-navbar-right uk-visible@m">
          <ul class="uk-navbar-nav">
            <li><a href="">Login</a></li>
            <li><a href="">Signup</a></li>
          </ul>
        </div>

        <!-- This version of the right side of the navbar is visible only on mobile devices and has a burger menu to activate the off-canvas navbar. -->
        <div class="uk-navbar-right uk-hidden@m">
          <button
            class="uk-button uk-navbar-item"
            type="button"
            uk-toggle="target: #mobile-navbar"
          >
            <font-awesome-icon
              :icon="['fas', 'bars']"
              size="lg"
            ></font-awesome-icon>
          </button>
        </div>
      </nav>
    </div>

    <!-- Here is the declaration of the off-canvas navbar we use on mobile devices -->
    <div id="mobile-navbar" uk-offcanvas="flip: true">
      <!-- Actual navigation layout -->
      <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
          <li><router-link to="/features" active-class="active">Features</router-link></li>
          <li><a href="">For developers</a></li>

          <hr class="uk-divider" />

          <li><a href="">Login</a></li>
          <li><a href="">Signup</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
};
</script>

<style lang="less" scoped>
/*********************************************
    Styling for mobile devices and general styling 
    *********************************************/
.uk-navbar-container {
  /** Blur effect on the navbar on all devices */
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(1em) saturate(200%);
}

.uk-logo {
  color: @brand-color;
  font-family: "Noto Sans", sans-serif;
  font-size: calc(1.5em + 10 * ((100vw - 320px) / (3840 - 320)))
}

.uk-logo:hover {
  color: @brand-color;
}

button {
  background-color: transparent;
}

@media only screen and (max-width: 960px) {
  /** Those styles are only relevant for mobile devices */
  .uk-offcanvas-bar {
    background-color: white;
  }

  .uk-offcanvas-bar .uk-close {
    color: @text-color;
  }

  .uk-offcanvas-bar .uk-nav-primary li a {
    color: @text-color;
    font-family: "Noto Sans", sans-serif;
    font-size: calc(1.2em + 10 * ((100vw - 320px) / (3840 - 320)));
    position: relative;
  }

  .uk-offcanvas-bar .uk-divider {
    border: 1px solid @brand-color-sister;
  }
}

/** Changing link hovering behaviour on all devices */
.uk-offcanvas-bar .uk-nav-primary li a:hover,
.uk-navbar-nav li a:hover {
  color: @brand-color;
}

.uk-offcanvas-bar .uk-nav-primary li a:hover::before,
.uk-navbar-nav li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.uk-offcanvas-bar .uk-nav-primary li a::before,
.uk-navbar-nav li a::before {
  content: "";
  position: absolute;
  width: 76%;
  height: 2px;
  background-color: @brand-color;
  bottom: 10%;
  left: 12%;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.uk-navbar-nav li a.active {
  color: @brand-color;
}

.uk-navbar-nav li a.active::before {
  content: "";
  position: absolute;
  visibility: visible;
  width: 76%;
  height: 2px;
  background-color: @brand-color;
  bottom: 10%;
  left: 12%;
  transform: scaleX(1);
}

/******************************************************
    Styling for larger devices such as laptops and desktops
    ******************************************************/
@media only screen and (min-width: 960px) {
  .uk-navbar-nav li a {
    color: @text-color;
    font-family: "Noto Sans", sans-serif;
    font-size: calc(1em + 10 * ((100vw - 320px) / (3840 - 320)));
    position: relative;
    text-transform: none;
  } 
}
</style>
