<template>
  <div id="app">

    <!-- Injecting the Navbar component to be shared accross routes -->
    <header>
      <Navbar />
    </header>

    <router-view />

    <!-- Injecting the footer component -->
    <Footer />
  </div>
</template>

<script>
import UIkit from "../node_modules/uikit/dist/js/uikit";
import Icons from "../node_modules/uikit/dist/js/uikit-icons";

// Importing components
import Navbar from "./components/Navbar";
import Footer from "./components/Footer"

UIkit.use(Icons);

export default {
  name: "App",
  components: {
    Navbar,
    Footer
  }
};
</script>

<style lang="less">
@import url("../node_modules/uikit/dist/css/uikit.min.css");

/*******************
Importing the fonts
*******************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
</style>